<mat-accordion>
    <mat-expansion-panel (opened)='panelOpenState = true'
                         (closed)='panelOpenState = false'>

        <mat-expansion-panel-header>
            <mat-panel-title>
                <p>{{item.schema()}}</p>
            </mat-panel-title>

            <div class="delete">
                <img (click)="onDelete()" src="assets/images/delete.svg" alt="">
            </div>

        </mat-expansion-panel-header>

        <div class='panel-body'>
             <form  #form="ngForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill">
                    <mat-label>نام ستون</mat-label>
                    <input type="text"
                           aria-label="ستون"
                           matInput
                           required
                           ngModel name="key" #key="ngModel"
                           [(ngModel)]="item.key"
                           [ngModelOptions]="{standalone: true}"
                           [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="operator-select"

                                appearance="fill">
                    <mat-label>شرط</mat-label>
                    <mat-select
                            [(value)]="item.operator"
                             required>
                        <mat-option
                                *ngFor="let operator of operators"
                                [value]="operator"

                        >
                            {{operator}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="operatorControl.hasError('required')">لطفا شرط را انتخاب کنید</mat-error>
                </mat-form-field>

                <!--  <p>{{Control.value.name}}</p>-->
                <mat-form-field appearance="fill">
                    <mat-label>مقدار</mat-label>
                    <input type="text"
                           aria-label="مقدار"
                           matInput
                           name="value" #value="ngModel"
                           required
                           [ngModelOptions]="{standalone: true}"
                           [(ngModel)]="item.value"
                    >
                </mat-form-field>
                 <button
                         type="submit"
                         mat-raised-button color="primary"

                 >اعمال تغییرات</button>
            </form>

        </div>
    </mat-expansion-panel>
    <!--    <section *ngIf="index!==length-1">-->
    <!--        <mat-button-toggle-group [(ngModel)]="logicExp" aria-label="Font Style">-->
    <!--            <mat-button-toggle value="bold">AND</mat-button-toggle>-->
    <!--            <mat-button-toggle value="italic">OR</mat-button-toggle>-->
    <!--        </mat-button-toggle-group>-->
    <!--    </section>-->
</mat-accordion>
