.select-processor-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  button {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 1rem;
    gap: 1.5rem;
    height: 5rem;
    width: 100%;
    font-size: 2rem;
    img {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
  .processor-filter{
    border: .2rem solid hsla(178, 46%, 67%, 1);
  }
  .processor-join{
    border: .2rem solid hsla(1, 73%, 84%, 1);
  }
  .processor-aggregate{
    border: .2rem solid hsla(255, 25%, 59%, 1);
  }
}
