.pipeline-graph-wrapper {
  width: 100vw;
   height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  img {
    height: 2rem;
    width: 3rem;
  }

  .end-node-wrapper {
    height: 12rem;
    width: 25rem;
    display: flex;
    align-items: center;
    position: relative;
    gap: 1rem;
    .edge {
      display: flex;
      align-items: center;
      height: fit-content;

      .arrow-icon {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }

    .node {
      height: 100%;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
      background: white;
      overflow: hidden;

    }
  }
  .start-node-wrapper {
    display: flex;
    align-items: center;
    .node {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
      background: white;
      overflow: hidden;
      img{
        height:3rem;
        width:3rem;
      }

    }
  }

}
.side-menu-open {
  width:80vw;
}
