.pipeline-wrapper {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 2rem;
  padding: 2rem;
  .end-node-wrapper{
    display: flex;
    align-items: center;
    img {
      height: 2rem;
      width: 3rem;
    }
    .edge {
      display: grid;
      button {
        grid-column: 1;
        grid-row: 1;
      }
      .add-icon{
        visibility: hidden;
      }

      &:hover .add-icon {
        visibility: visible;
      }
      &:hover .arrow-icon {
        visibility: hidden;
      }
    }
    .node{
      height: 100%;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
      background:white;

    }
  }

}
