<header>
    <nav>
        <ul>
            <li>
                <a href="#" class="home">
                    د
                </a>
            </li>
        </ul>

        <ul class="header-actions">
            <li>
                <mat-icon>
                        help
                </mat-icon>
            </li>
            <li>
                <mat-icon>
                    notifications
                </mat-icon>
            </li>
            <li class="user">
                <button>
                    <span>کاربر مهمان</span>
                    <mat-icon>person</mat-icon>
                </button>
            </li>
        </ul>
    </nav>
</header>
