$--item-bg-color--hovered: hsla(0, 6%, 87%, 0.29);

* {
  font-family: "iransans", sans-serif !important ;
}

.btn-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-right: 1rem;
  gap: 1rem;

  button,
  input {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    user-select: none;
  }

  .btn-add {
    color: #fff;
    background: var(--color-primary);

    img {
      height: 2rem;
      width: 2rem;
    }
  }

  .btn-drop {
    background: #fff;
    border-style: dashed;
    height: 100%;
    padding: 0.8rem 1rem;

    img {
      height: 2.5rem;
      width: 2.5rem;
    }
    span {
      color: hsla(204, 94%, 39%, 1);
      font-weight: bold;
    }

    &:hover {
      background: hsla(204, 94%, 59%, 0.22);
    }
  }
}

.dataset-list-container {
  padding: 2rem;
}
.mat-spinner{
  margin:auto auto;
}

.table-wrapper{
    margin: 1rem;
 
    height: 100vh;
    padding-bottom: 10vh;
    overflow-y: scroll;
  table {
    width: 98%;
    .mat-row .mat-cell {
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      cursor: pointer;
    }
  
    .mat-row:hover .mat-cell {
      background: $--item-bg-color--hovered;
    }
  }
  .delete-btn {
    background-color: transparent;
    border: unset;
    border-radius: 999px;
    img{
      width: 2rem;
      height: 2rem;
    }
  }
  
}
img {
  height: 1.5rem;
  width: 1.5rem;
}
.delete-menu{
  color: red;
} 