<div class="main-wrapper">
    <main>

        <div class='panel-body'>
            <form  #form="ngForm"  (ngSubmit)="onSubmit()" >
                <mat-form-field>
                    <mat-label>دیتاست دوم</mat-label>
                    <mat-select required [(ngModel)]="joinNode.secondDataset" name="dataset">
                        <mat-option *ngFor="let dataset of datasets" [value]="dataset">
                            {{dataset.Name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>نوع جوین</mat-label>
                    <mat-select [formControl]="joinTypeControl" [(ngModel)]="joinNode.joinType" required>
                        <mat-option *ngFor="let join of joinTypes; let i = index;" [value]="i">
                            {{join.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="joinTypeControl.hasError('required')">لطفا نوع جوین را انتخاب کنید</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>ستون اصلی دیتاست اول</mat-label>
                    <input type="text"
                    aria-label="ستون"
                    matInput
                    required
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="joinNode.firstDatasetPK"
                     [matAutocomplete]="auto">
             <mat-autocomplete #auto="matAutocomplete">
                 <mat-option *ngFor="let  column of joinNode.inputData.columns " [value]="column">
                     {{column}}
                 </mat-option>
             </mat-autocomplete>
                    <!-- <mat-select required [(ngModel)]="joinNode.firstDatasetPK" name="tableCol"
                    
                    >
                        <mat-option *ngFor="let column of joinNode.inputData.columns" [value]="column">
                            {{column}}
                        </mat-option>
                    </mat-select> -->
                </mat-form-field>
                <mat-form-field>
                    <mat-label>ستون اصلی دیتاست دوم</mat-label>
                    <input type="text"
                    aria-label="ستون"
                    matInput
                    required
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="joinNode.secondDatasetPK"
                    [disabled]="!joinNode.secondDataset"
                     [matAutocomplete]="auto">
             <mat-autocomplete #auto="matAutocomplete">
                 <mat-option *ngFor="let  column of joinNode.inputData.columns " [value]="column">
                     {{column}}
                 </mat-option>
             </mat-autocomplete>
                    <!-- <mat-select required [(ngModel)]="joinNode.secondDatasetPK" name="datasetCol" [disabled]="!joinNode.secondDataset">
                        <mat-option *ngFor="let column of joinNode.inputData.columns" [value]="column">
                            {{column}}
                        </mat-option>
                    </mat-select> -->
                </mat-form-field>
          
     
          
            </form>

        </div>
    </main>

  
</div>
