<ng-container *ngIf="pipelineService.selectedNode as selectedNode else noNodeSelected">
    <div [ngSwitch]="selectedNode.nodeType" class="sidebar-wrapper">
        <header>
            <p>{{selectedNode.name}}</p>
            <button mat-icon-button>
                <img src="assets/images/delete.svg" alt="">
            </button>
        </header>
        <div *ngSwitchCase="NodeType.FILTER">
            <app-filter-processor [filterNode]="$any(selectedNode)"></app-filter-processor>
        </div>
        <div *ngSwitchCase="NodeType.JOIN">
            <app-join-processor [joinNode]="$any(selectedNode)"></app-join-processor>
        </div>
        <div *ngSwitchCase="NodeType.AGGREGATE">
            <app-aggregate-processor [aggregateNode]="$any(selectedNode)"></app-aggregate-processor>
        </div>
    </div >
</ng-container>

<ng-template #noNodeSelected>
    <main>
        <p>پردازه‌ای انتخاب نشده</p>
        <button mat-raised-button color='primary'>انتخاب</button>
    </main>
</ng-template>










