<div class="main-wrapper">
    <main>
        <div class='panel-body'>
            <form  #form="ngForm" >
                <mat-form-field class="example-full-width">
                    <mat-label>نام ستون</mat-label>
                    <input type="text"
                           aria-label="ستون"
                           matInput
                           required
                           [(ngModel)]="aggregateNode.column"
                           [formControl]="myControl"
                           [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let filteredColumn of filteredColumns | async" [value]="filteredColumn">
                            {{filteredColumn}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>نوع تجمیع</mat-label>
                    <mat-select [formControl]="aggregateTypeControl" required [(ngModel)]="aggregateNode.aggregateType">
                        <mat-option *ngFor="let aggregateType of aggregateTypes" [value]="aggregateType.value">
                            {{aggregateType.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="aggregateTypeControl.hasError('required')">لطفا شرط را انتخاب کنید</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>مقدار</mat-label>
                    <input matInput>
                </mat-form-field>
            </form>

        </div>
    </main>

    <div class='actions-wrapper'>
        <div class='validate-wrapper'>
            <button type="submit" mat-raised-button color='primary'>اعمال</button>
        </div>
        <button mat-raised-button  (click)='onClose()'>لغو</button>
    </div>
</div>
