$--item-bg-color: hsl(360, 100%, 100%);
$--item-bg-color--hovered: hsla(0, 6%, 87%, 0.29);
$--item-boarder: hsla(0, 0%, 0%, 0.21);

.item-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 1rem;
  background: $--item-bg-color;
  border-bottom: 0.1rem solid $--item-boarder;

  &:hover {
    background: $--item-bg-color--hovered;
  }

  img {
    height: 2rem;
    width: 2rem;
  }

  p {
    font-size: 2rem;
  }
}
