<div class="main-wrapper">
    <main>
        <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl" class="filter-tree">
            <mat-tree-node *matTreeNodeDef="let filter " matTreeNodeToggle>
                <app-filter-item
                        [filter]="filter"
                        (deleteFilter)="deleteFilter(filter)"
                ></app-filter-item>
            </mat-tree-node>
            <mat-nested-tree-node *matTreeNodeDef="let filter; when: hasChild ">
                <div class="mat-tree-node">
                    <button mat-icon-button matTreeNodeToggle
                    >
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(filter) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    <button [matMenuTriggerFor]="changeLogic" mat-stroked-button [color]="filter.operator==='AND'?'primary':
                                 filter.operator==='OR'?'warn'
                                 :undefined">{{filter.operator}}
                    </button>

                    <button mat-icon-button
                            matTooltip="اضافه کردن فیلتر"
                            [matTooltipPosition]="'below'"
                            [matTooltipShowDelay]="1000"
                            (click)="addFilter(filter)"
                    >
                        <img src="assets/images/filter.svg" alt="">
                    </button>
                    <button mat-icon-button
                            matTooltip="اضافه کردن منطق"
                            [matTooltipPosition]="'below'"
                            [matTooltipShowDelay]="1000"
                            [matMenuTriggerFor]="menu"
                    >
                        <img src="assets/images/add-black.svg" alt="">
                    </button>
                    <mat-menu #menu="matMenu" yPosition="above">
                        <button mat-menu-item (click)="addLogic(filter, 'AND')">
                            <mat-icon>add</mat-icon>
                            <span>AND</span>
                        </button>
                        <button mat-menu-item (click)="addLogic(filter, 'OR')">
                            <mat-icon>add</mat-icon>
                            <span>OR</span>
                        </button>
                    </mat-menu>
                    <mat-menu #changeLogic="matMenu" yPosition="above">
                        <button mat-menu-item (click)="filter.operator = 'AND'" class="logic-select">
                            <span>AND</span>
                        </button>
                        <button mat-menu-item (click)="filter.operator = 'OR'" class="logic-select">
                            <span>OR</span>
                        </button>
                    </mat-menu>

                    <button mat-icon-button (click)="deleteFilter(filter)">
                        <img src="assets/images/delete.svg" alt="">
                    </button>


                </div>

                <div [class.filter-tree-invisible]="!treeControl.isExpanded(filter)"
                     role="group">
                    <ng-container matTreeNodeOutlet></ng-container>
                </div>

            </mat-nested-tree-node>
        </mat-tree>
    </main>
</div>
