<div class="main-wrapper">

    <header>
        <h1>ویرایش یا اضافه کردن فیلتر</h1>
        <div class="close"
                (click)="closeDialog()"
        >
            <img   src="assets/images/close-black.svg" alt="">
        </div>
    </header>

    <div class="add-root" *ngIf="isTreeEmpty()">

        <h2>انتخاب منطق اولیه</h2>
        <div class="actions">
            <button mat-stroked-button color="primary" (click)="addRoot('AND')">
                AND
            </button>
            <button mat-stroked-button color="accent" (click)="addRoot('OR')">
                OR
            </button>
        </div>
    </div>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding
                       matTreeNodePaddingIndent="5rem">
            <button mat-icon-button disabled></button>
            <button mat-flat-button >{{node.item}}</button>
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding
                       matTreeNodePaddingIndent="5rem">
            <app-filter-item [index]="0" [length]="1" [item]="filterDemo" ></app-filter-item>
<!--             <mat-form-field appearance="fill">-->
<!--                <mat-label>New item...</mat-label>-->
<!--                <input matInput #itemValue placeholder="Ex. Lettuce">-->
<!--            </mat-form-field>-->
<!--            <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>-->
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding
                       matTreeNodePaddingIndent="5rem">
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'Toggle ' + node.item">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            <button mat-stroked-button [color]="node.item==='AND'?'primary':
            node.item==='OR'?'accent'
            :undefined">{{node.item}}</button>

            <button mat-icon-button
                    matTooltip="اضافه کردن فیلتر"
                    [matTooltipPosition]="'below'"
                    (click)="addNewItem(node,'filter')">
                <img src="assets/images/filter.svg" alt="">
            </button>
            <button mat-icon-button
                    matTooltip="اضافه کردن منطق"
                    [matTooltipPosition]="'below'"
                    [matMenuTriggerFor]="menu">
                <img src="assets/images/add-black.svg" alt="">
            </button>
            <mat-menu #menu="matMenu" yPosition="above">
                <button mat-menu-item  (click)="addNewItem(node,'and')">
                    <mat-icon>add</mat-icon>
                    <span>AND</span>
                </button>
                <button mat-menu-item (click)="addNewItem(node,'or')">
                    <mat-icon>add</mat-icon>
                    <span>OR</span>
                </button>

            </mat-menu>




        </mat-tree-node>
    </mat-tree>
</div>
