.main-wrapper {
  min-width: 45vw;
  max-width: 80vw;
  min-height: 25vh;
  max-height: 85vh;
  overflow-y: auto;
  position: relative;
  padding: 1rem;

  img {
    width: 2rem;
    height: 2rem;
  }

  .save {
    background-color: var(--color-gray-95);
  }
  .cancel {
    background-color: var(--color-gray-95);
  }
  .save_cancel {
    display: flex;
    gap: 2rem;
    position: absolute;

    left: 0;
    margin-left: 1rem;
  }

  header {
    height: 5vh;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .close {
      padding: 0.5rem;
      border-radius: 50%;
      cursor: pointer;

      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
  .add-root {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .actions {
      display: flex;
      gap: 1rem;
    }
  }

  mat-menu {
    display: flex;
    flex-direction: column;
  }
  mat-tree-node {
    margin: 0.5rem;
  }
}
