<h2 mat-dialog-title>آیا می خواهید گروه منطقی را حذف کنید؟</h2>
<div mat-dialog-content>
    <p>با حذف گروه منطقی تمامی زیر گروه‌ های آن نیز حذف می شود </p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="'YES'" >بله</button>
    <button mat-stroked-button color="primary" (click)="onNoClick()">لغو</button>
</div>

<!--<div class="main-wrapper">-->

<!--    <header>-->
<!--        <h2>ویرایش یا اضافه کردن فیلتر</h2>-->
<!--        <div class="close"-->
<!--                (click)="closeDialog()"-->
<!--        >-->
<!--            <img   src="assets/images/close-black.svg" alt="">-->
<!--        </div>-->
<!--    </header>-->
<!--    <div class="add-root"  >-->

<!--        <p>با حذف گروه منطقی تمامی زیر گروه‌ های آن نیز حذف میشود!</p>-->
<!--        <div class="actions">-->
<!--            <button mat-stroked-button color="primary" >-->
<!--                AND-->
<!--            </button>-->
<!--            <button mat-stroked-button color="accent" >-->
<!--                OR-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->


<!--</div>-->
