.main {
  flex-grow: 1;
  height: 100%;
  min-height: 100%;
  background-color: #eee;
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sidebar {
  width: 10rem;
  height: 100%;
  background-image: linear-gradient(180deg, #213463, #103183);
  transition: 0.3s all ease;

  & > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    list-style: none;

    & > div {
      width: 70%;
      display: flex;
      margin-top: 2rem;

      & > label {
        cursor: pointer;
        margin-right: auto;
        width: 1rem;
        height: 1rem;

        & > svg {
          fill: white;
          &:hover {
            fill: #ff7300;
          }
        }
      }
    }

    & > li {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 90%;

      margin: 1rem auto 0 auto;
      padding: 0.6rem 0;

      color: white;
      cursor: pointer;
      border-radius: 0.2rem;
      transition: 0.3s all ease;

      &:hover {
        background-color: rgba(255, 255, 255, 0.123);
      }

      & > span {
        width: 1rem;
        height: 1rem;
        margin: 0 1rem 0 1rem;

        display: flex;
        justify-content: center;
        align-items: center;

        & > svg {
          fill: white;
          width: 1rem;
          height: 1rem;
        }
      }

      & > div {
        flex-grow: 1;
      }
    }
  }
}

#wrap-sidebar {
  display: none;
}
#wrap-sidebar:checked ~ .sidebar {
  width: 3rem;
}
#wrap-sidebar:checked ~ .sidebar > ul > li > div {
  display: none;
}
#wrap-sidebar:checked ~ .sidebar > ul > li > span {
  margin: 0 !important;
}
#wrap-sidebar:checked ~ .sidebar > ul > li {
  width: 100%;
}
#wrap-sidebar:checked ~ .sidebar > ul > div > label {
  transform: rotate(180deg);
  margin: auto;
}
#wrap-sidebar:checked ~ .sidebar > ul > div {
  width: 100%;
}
