.node-wrapper {
  height: 12rem;
  width: 25rem;
  display: flex;
  align-items: center;
  position: relative;
  gap: 1rem;

  .edge {
    display: flex;
    align-items: center;
    height: fit-content;

    .arrow-icon {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  img {
    height: 2rem;
    width: 2rem;
  }

  .node {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border-width:.3rem;
    background: white;
    overflow: hidden;
    .node-detail {
      width: 100%;
      height: 100%;
      white-space: initial;
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        height:3rem;
        width:3rem;
      }
    }
    &:hover + .delete {
      visibility: visible;
    }
  }
  .start-node {
    background: var(--color-bg-source);
    border-color:var(--color-border-source);

  }
  .end-node {
    background: var(--color-bg-destination);
    border-color:var(--color-border-destination);
  }

  .delete {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    transform: translate(-7.5rem, -50%);
    visibility: hidden;
    &:hover {
      visibility: visible;
    }
  }
}

.filter{
  background-color:var(--color-bg-filter) !important;
  border-color:var(--color-border-filter);

}
.join{
  background-color: var(--color-bg-join) !important;
  border-color:var(--color-border-join);
}
.aggregate{
    background-color:var(--color-bg-aggregate) !important;
  border-color:var(--color-border-aggregate);
}

.hide {
  visibility: hidden;
}
