<div class="node-wrapper">
    <div class="edge" [ngClass]="node.id === -1 ? 'hide' : ''">
        <div class="arrow-icon" >
            <img src="../../../../../assets/images/left-arrow.svg" alt=" "/>
        </div>
        <button
                class="add-icon"
                mat-icon-button
                [ngStyle]="{ visibility: node.id === -1 ? 'hidden' : '' }"
                (click)="openChooseProcessorDialog()"
        >
            <img src="../../../../../assets/images/add-black.svg" alt=" "/>
        </button>
        <div class="arrow-icon" >
            <img src="../../../../../assets/images/left-arrow.svg" alt=" "/>
        </div>
    </div>

    <button
            class="node"
            mat-stroked-button
            (click)="onNodeClick()"
            [ngClass]="{ 'start-node': node.id === -1,
             'end-node': node.id === -2,
             'filter': node.nodeType === 'filter',
             'join':  node.nodeType === 'join' ,
             'aggregate':  node.nodeType === 'aggregate'
             }"
    >
    <span class="node-detail"
    ><img src="assets/images/{{ nodeType }}.svg" alt=" "/> {{ node.name
        }}{{ node.id > 0 ? node.id : "" }}</span
    >
    </button>
    <button
            class="delete"
            mat-icon-button
            (click)="onDeleteNode()"
    >
        <img src="../../../../../assets/images/delete.svg" alt="delete"/>
    </button>

    <!--    <p *ngIf="animal">-->
    <!--        You chose: <i>{{animal}}</i>-->
    <!--    </p>-->
</div>
